<!DOCTYPE html>
<html class="page" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body class="page__body">
    <h1>Привет от Go сервера!</h1>
    <p id="demo">Это пример страницы с шаблоном.</p>
    <button onclick="showAlert()">Нажми меня</button>
</body>
<script src="/static/scripts.js"></script>
</html>