<!DOCTYPE html>
<html class="page" lang="{{ .Page.Lang }}">
<head>
    <title>{{ .Page.Title }}</title>
    <meta name="description" content="{{ .Page.Description }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    {{ range .Site.Styles }}{{ . }}{{ end }}
</head>
<body class="page__body">
{{ template "header" . }}
<main class="main">
    {{ template "nav" .Site.Menus.Main }}
    <div class="main__content">
    {{ template "content" . }}
    </div>
</main>
{{ template "footer" . }}
<script type="module" src="/static/scripts/index.js"></script>
</body>
</html>